a, span, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif;
}

body{
	overflow-x: hidden;
}

html{

}

a{
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

#main-navbar{
	background-color: #129793;
	border: 0;
	padding: 15px;
	margin: 0;
}

#main-navbar a{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

#main-navbar a:hover{
	color: #C8F0FA;
}

header{
	text-align: center;
	background-color: #129793;
	padding-top: 75px;
	padding-bottom: 100px;
}

header #name{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	font-size: 50px;
	color: #fff;
}

header .header-info{
	color: #004F63;
}

section{
	min-height: 250px;
	padding: 20px 20px 50px 20px;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.05),inset 0 3px 3px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.05),inset 0 3px 3px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,.05),inset 0 3px 3px 0 rgba(0,0,0,.1);
}

section h1{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
}

section#about{
	background-color: #FFF5C3;
}

section#projects{
	background-color: #FF7260;
}

section#contact{
	background-color: #9BD7D5;
}

section .section-header{
	margin-bottom: 25px;
}

#footer-navbar{
	background-color: #505050;
	border: 0;
	margin-bottom: -20px;
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 50px;
}

#footer-navbar .container{
	margin: 0;
	width: 100% !important;
}

#footer-navbar a{
	color: #fff;
	letter-spacing: 1px;
}

#footer-navbar a:hover{
	color: #CACACA;
	text-decoration: none;
}

#footer-navbar li{
	margin-top: 10px;
	padding-right: 20px;
}

#footer-navbar .icon-a{
	padding-left: 5px;
}

#footer-navbar #note{
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0;
	float: right;
}

#footer-nav-content{
	opacity: 0;
}

#back-to-top{
	display: none;
	opacity: 0;
	margin: 50px;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 60px;
	z-index: 100;
	color: #ffffff;
	background-color: #999375;
	text-align: center;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 3px 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 3px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 3px 1px 0 rgba(0,0,0,.1);
}

#back-to-top-icon{
	font-size: 25px;
	margin-top: 15px;
}

#back-to-top.about-active{
	background-color: #999375 !important;
}

#back-to-top.projects-active{
	background-color: #99443A !important;
}

#back-to-top.contact-active{
	background-color: #5D8180 !important;
}

#about-image{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 5px solid #999375;
}

#about-bio{
	font-size: 18px;
	text-align: center;
}

#about-bio-xs{
	font-size: 18px;
	text-align: center;
	padding: 20px 20px 0px 20px;
}

#about a{
	color: #990000;
}

#about a:hover{
	color: #B84D4D;
	text-decoration: none;
}

.media{
	overflow: visible;
}

.media-body{
	padding: 10px;
}

@media (max-width: 768px){
	#main-navbar .container{
		text-align: center;
	}

	header{
		padding-top: 25px;
		padding-bottom: 75px;
	}

	header #name{
		font-size: 30px;
	}

	header .header-info{
		font-size: 17px;
	}

	section h1{
		font-size: 20px;
	}

	#footer-navbar{
		padding-left: 0;
	}

	#footer-navbar .container{
		text-align: center;
		float: none;
	}

	#footer-navbar #note{
		float: none;
	}

	#back-to-top{
		margin: 30px;
		width: 50px;
		height: 50px;
	}

	#back-to-top-icon{
		font-size: 20px;
	}
}